@tailwind base;
@tailwind components;
@tailwind utilities;

kbd {
  padding: 2px 6px;
  background: #f1f5f9;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.85em;
}